/*
Author: Tom Maddox
Author Website: https://tommaddoxsoftware.co.uk
*/

/* Include Media Queries */
@import "media.css";

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h1.inverse, h2.inverse, h3.inverse {
    color: white;
    text-shadow: 1px 1px 3px black;
}

/* Navbar Styles */
#social-list li a {
    float:left;
    display:inline-block;
}


/* Home Page Styles */
#intro {
    padding: 50px 150px;
    background-image:
        linear-gradient(rgba(30,30,30, 0.5), rgba(50,50,50,0.55)),
        url('../img/backgrounds/christmas_tree_farm.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    min-height:calc(75vh - 56px);
    color:white;
}

#intro > div.container-fluid {
    max-width:900px;
    margin:auto;
    display:block;
}

#intro-title {
    margin-bottom:80px;
}

#intro p {
    text-shadow: 1px 1px 1px black
}

#livemap {
    height:600px;
    width:90%;
    margin:25px auto;
}
